html {
    height: 100%;
}

body {
    min-height: 100%;
}

.body-content {
    min-height: 100vh;
    padding-left: 15px;
    padding-right: 15px;
}

.content-directories {
    min-height: 100vh;
    background-color: #FAF8F8;
}

.table-file-count {
    margin-top: 25px;
}
.table-file-count thead {
    background-color: #979393;
    color: white;
}

input,
select,
textarea {
    max-width: 280px;
}

.direcory_path {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}

.current_path_text {
    font-size: 14px;
    font-weight: bold;
}

.parent_directory {
    margin-bottom: 15px;
}


.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -26px; 
    margin-top: -26px;
    display: block;     
}

#loader-content {  
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:1000;
    background-color:grey;
    opacity: 0.8;
    display: none;
 }